


	<div class="bg-success px-5">
		<div class="">
			<center>
			<div class="row">
				<div class="col">
					<h2 class="card-title ml-1 pb-3">
						Compañia de luz
					</h2>
				</div>
			</div>
			<img src="../img/encabezado.jpg" class="img-fluid pb-3" style="width: 25rem;" alt="">
		</center>
		</div>
		
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		
		<div class="row" id="">
			<div class="col">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
			  <a class="nav-link" href="#">Acerca de</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Pago de recibo</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Contactos</a>
			</li>
		  </ul>
		</div>
		</div>
	  </nav>

